<p><%= @user.email %>さん　マイページ</p>

前回のしょぼ練より
<span class="interval-day"><%= @sanka_place.nil? ? nil : (Date.today - Date.parse(@sanka_place.etime.to_s)).to_i %></span>
日間空いています。


<div class="my-place">
    <p>予定場所</p>
    <% @places.each do |place| %>
        <%= place.id %>
        <%= place.name %>
        <%= place.menu %>
        <%= place.stime %>
        <%= place.etime %>
        <br>
        <%= form_for(current_user.joins.find_by(place_id: place.id),
                    html: { method: :delete }) do |f| %>
            <div><%= hidden_field_tag :place_id, place.id %></div>
            <%= f.submit "やめる", class:"btn btn-primary btn-attend" %>
        <% end %>
        <%= form_for(current_user.joins.find_by(place_id: place.id), class:"right") do |f| %>
            <div><%= hidden_field_tag :place_id, place.id %></div>
            <% if current_user.joins.find_by(place_id: place.id).sanka_flg == 1 %>
                <%= f.submit "練習済み", class:"btn btn-primary btn-result" %>
            <% else %>
                <%= f.submit "未実施", class:"btn btn-primary btn-result" %>
            <% end %>
        <% end %>
    <% end %>
</div>