<p><%= @user.name %>さん　マイページ</p>

<!--
<p><%= @sanka_place.nil? ? nil : @sanka_place.etime %></p>
<p><%= @sanka_place.nil? ? nil : Date.parse(@sanka_place.etime.to_s) %></p>
<%= @blank_term %>
-->
前回のしょぼ練より
<span class="interval-day"><%= @sanka_place.nil? ? nil : (Date.today - Date.parse(@sanka_place.etime.to_s)).to_i %></span>
日間空いています。


<div class="my-place">
    <p>予定場所</p>
    <% @places.each do |place| %>
        <%= place.id %>
        <%= place.name %>
        <%= place.menu %>
        <%= place.stime.strftime("%m/%d %a %H:%M〜") %><%= place.etime.strftime("%H:%M") %>
        <br>
        <!-- 参加フラグ -->
        <%= form_for(current_user.joins.find_by(place_id: place.id),
                    html: { method: :delete }) do |f| %>
            <div><%= hidden_field_tag :place_id, place.id %></div>
            <%= f.submit "やめる", class:"btn btn-primary btn-attend" %>
        <% end %>
        <!-- 練習済みフラグ -->
        <%= form_for(current_user.joins.find_by(place_id: place.id),
                        url: {controller: "joins", action: "update_sanka"}, class:"right") do |f| %>
            <div><%= hidden_field_tag :place_id, place.id %></div>
            <% if current_user.joins.find_by(place_id: place.id).sanka_flg == 1 %>
                <%= f.submit "練習済み", class:"btn btn-primary btn-result" %>
            <% else %>
                <%= f.submit "未実施", class:"btn btn-primary btn-result" %>
            <% end %>
        <% end %>
            <div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter<%= place.id %>">
                 参加可能性 
                </button>
                <% myjoin = current_user.joins.find_by(place_id: place.id) %>
                <% if myjoin.attend_flg == 0 %>絶対参加します
                <% elsif myjoin.attend_flg == 1 %>多分参加します
                <% elsif myjoin.attend_flg == 2 %>五分五分
                <% elsif myjoin.attend_flg == 3 %>きびしいけど行きたい
                <% end %>
            </div>
                <!-- モーダルの設定 -->
                <div class="modal fade" id="exampleModalCenter<%= place.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">参加可能性を入力ください</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                      <%= place.id %>
                            <%if current_user.joins.find_by(place_id: place.id).nil? %>
                                <%= form_for(current_user.joins.build) do |f| %>
                                    <div><%= hidden_field_tag :place_id, place.id %></div>
                                <% end %>
                            <% else%>
                                <%= form_for(current_user.joins.find_by(place_id: place.id)) do |f| %>
                                    <div><%= hidden_field_tag :place_id, place.id %></div>
                                    <div><%= f.radio_button :attend_flg, 0 %> 絶対参加します</div>
                                    <div><%= f.radio_button :attend_flg, 1 %> 多分参加します</div>
                                    <div><%= f.radio_button :attend_flg, 2 %> 五分五分</div>
                                    <div><%= f.radio_button :attend_flg, 3 %> きびしいけど行きたい</div>
                                    <div class="modal-footer">
                                        <%= f.submit "参加", class:"btn btn-primary" %>
                                    </div>
                                <% end %>
                            <% end %>
                      </div>
                    </div>
                  </div>
                </div>
    <% end %>
</div>