<% @page_title = 'Syobo練一覧' %>
<div id="place-list">
<%= link_to "場所登録", new_place_path, class:"place-create btn btn-primary" %>

<div class="places">
    <% @places.each do |place| %>
    <% if place.etime >= DateTime.now %>
        <div class="place">
    <% else %>
        <div class="place finish">
    <% end %>
            <div class="title">
                <div class="name"><%= link_to place.name, place %></div>
                <div class="list">
                    <div><%= @joins.where("place_id = (?)", place.id).count %> 人</div>
                    絶対<%= place.joins.where("attend_flg = (?)", 0).count %>人
                    たぶん<%= place.joins.where("attend_flg = (?)", 1).count %>人
                    五分<%= place.joins.where("attend_flg = (?)", 2).count %>人
                    きびしいが<%= place.joins.where("attend_flg = (?)", 3).count %>人
                </div>
            </div>
            <div class="detail">
                <%= place.stime.strftime("%m/%d %a %H:%M〜") %><%= place.etime.strftime("%H:%M") %>
                <%= place.menu %>
            </div>
            <div class="btn-area">
                <div id="attend<%= place.id %>">
                    <%= render 'layouts/attend', place: place %>
                </div>
            </div>
        </div>
    <% end %>
</div>
</div>