<h1>場所登録画面</h1>

<div class="row">
    <%= form_for(@place) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class:'form-control' %>

        <%= f.label :menu %>
        <%= f.text_field :menu, class:'form-control' %>

        <div><label class="control-label">開始時間</label>
        <%= f.datetime_select :stime, {
            use_month_numbers: true,
            discard_year: true,
            minute_step: 15,
            }, class:'sitme' %></div>

        <div><label class="control-label">終了時間</label>
        <%= f.datetime_select :etime, {
            use_month_numbers: true,
            discard_year: true,
            minute_step: 15,
            }, class:'eitme' %></div>

        <%= f.submit "登録", class:"btn btn-primary" %>
    <% end %>
</div>