<div id="place-detail">
    <h1><div class="name"><%= @place.name %></div></h1>

    <%= link_to "場所修正", edit_place_path, class:"btn btn-place-modify btn-primary"%>

    <div class="container">
        <div class="time"><%= @place.stime.strftime("%m/%d %a %H:%M〜") %><%= @place.etime.strftime("%H:%M") %></div>
        <div class="menu"><%= @place.menu %></div>
        <div class="list">
            <div><%= @p_joins.count %> 人</div>
            絶対<%= @p_joins.where("attend_flg = (?)", 0).count %>人
            たぶん<%= @p_joins.where("attend_flg = (?)", 1).count %>人
            五分<%= @p_joins.where("attend_flg = (?)", 2).count %>人
            きびしいが<%= @p_joins.where("attend_flg = (?)", 3).count %>人
        </div>
        <div class="member">
            <% @p_users.each do |user| %>
                <div class="member-name"><%= user.name %></div>
            <% end %>
        </div>
        <%= form_for @post do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :place_id, :value => @place.id %>
            <%= f.label :content %>
            <%= f.text_field :content, class:"form-control" %>

            <%= f.submit "送信", class:"btn btn-primary" %>
        <% end %>
        <div class="line-bc">
            <% @posts.each do |post| %>
                <% if post.user_id != current_user.id %>
                    <div class="balloon6">
                        <div class="faceicon"><img src="#.jpg" alt=""></div>
                        <div class="chatting">
                            <div class="says">
                                <span><%= User.find(post.user_id).name %></span>
                                <span><%= post.content %></span>
                                <span><%= post.created_at.strftime('%m/%d %H:%M') %></span>
                            </div>
                        </div>
                    </div>
                <% else %>
                    <div class="mycomment">
                    <p>
                        <span><%= User.find(post.user_id).name %></span>
                        <span><%= post.content %></span>
                        <span><%= post.created_at.strftime('%m/%d %H:%M') %></span>
                    </p>
                    </div>
                <% end %>
            <% end %>
        </div>
    <div>
</div>