<% @page_title = @place.name %>
<div id="place-detail">
    <ul class="tab-group">
        <li class="tab is-active">詳細</li>
        <li class="tab">トーク</li>
        <li class="tab">地図</li>
    </ul>
    <div class="panel-group">
        <div class="panel is-show">
            <%= link_to "場所修正", edit_place_path, class:"btn btn-place-modify btn-primary"%>
    
            <div class="container">
                <div class="time"><%= @place.stime.strftime("%m/%d %a %H:%M〜") %><%= @place.etime.strftime("%H:%M") %></div>
                <div class="menu"><%= @place.menu %></div>
                <div class="list">
                    <div><%= @p_joins.count %> 人</div>
                    絶対<%= @p_joins.where("attend_flg = (?)", 0).count %>人
                    たぶん<%= @p_joins.where("attend_flg = (?)", 1).count %>人
                    五分<%= @p_joins.where("attend_flg = (?)", 2).count %>人
                    きびしいが<%= @p_joins.where("attend_flg = (?)", 3).count %>人
                </div>
                <div class="member">
                    <% @p_users.each do |user| %>
                        <div class="member-name">
                            <%= image_tag user.image.to_s %>
                            <%= user.name %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="panel">
            <%= render 'layouts/posts' %>
        </div>
        <div class="panel">
        </div>
    </div>
</div>