<header class="navbar navbar-inverse">
<div class="container">
<%= link_to "しょぼ練", "#" %>
<nav>
    <ul class="nab navbar-nav navbar-right">
        <li><%= link_to "マイページ", root_path %></li>
        <li><%= link_to "しょぼれん探し", places_path %></li>
        <li><%= link_to "日記", "#" %></li>
        <li><%= link_to "ユーザー設定", edit_user_registration_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    </ul>
</nav>
</div>
</header>