
        <%= form_for @post do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :place_id, :value => @place.id %>
            <%= f.label "メッセージ" %>
            <%= f.text_field :content, class:"form-control" %>

            <%= f.submit "送信", class:"btn btn-primary" %>
        <% end %>
        <div class="line-bc">
            <% @posts.each do |post| %>
                <% if post.user_id != current_user.id %>
                    <div class="balloon6">
                        <div class="faceicon"><%= image_tag User.find(post.user_id).image.to_s %></div>
                        <div class="chatting">
                                <div class="name"><%= User.find(post.user_id).name %></div>
                            <div class="says">
                                <span><%= post.content %></span>
                            </div>
                            <span class="say-time"><%= post.created_at.strftime('%m/%d %H:%M') %></span>
                        </div>
                    </div>
                <% else %>
                    <div class="mycomment">
                        <span class="say-time"><%= post.created_at.strftime('%m/%d %H:%M') %></span>
                    <p>
                        <span><%= post.content %></span>
                    </p>
                    </div>
                <% end %>
            <% end %>
        </div>