<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title_tag %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
  </head>

  <body data-turbolinks="false">
    <%= render 'layouts/header' %>
    <div id="content">
      <% if current_user != nil %>
        <div id="header2">
          <span id="page-title"><%= @page_title %></span>
          <span id="user-name">
            <span><%= image_tag current_user.image.to_s %></span>
            <span>
              <%= current_user.name %>さん
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              <%= link_to "ユーザー設定", edit_user_registration_path %>
            </span>
          </span>
        </div>
      <% else %>
      <% end %>

      <%= yield %>

      <div id="debug"><%= debug(params) if Rails.env.development? %></div>
    </div>
  </body>
</html>
